.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/caches/*
/.idea/codeStyles/*
.DS_Store
/build

.idea/*.xml
.idea/misc.xml

build.gradle

gradle.properties
app/gradle.properties
app/manifest-merger-release-report.txt

projectFilesBackup/*

debug.keystore