*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
.DS_Store
/build
/captures
.externalNativeBuild
/buildSrc/.gradle
/buildSrc/build

gradle.properties
app/gradle.properties
app/manifest-merger-release-report.txt

projectFilesBackup/*

debug.keystore